<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">@<%=username%> create your blog!!</h1>
    <div style="text-align: center;">
        <form action="/create/blog" method="post">
            <input type="text" name="tittle" id="" placeholder="tittle" required><br>
            <input type="text" name="topic" id="" placeholder="topic" required><br>
            <input type="text" name="content" id="" placeholder="content" required><br>
            <input type="submit" name="" id="">
        </form>
    </div>
</body>
</html>