<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div style="text-align: center;">
    <h1>LOGIN YOURSELF</h1>
    <form action="/login" method="post">
        <input type="text" name="username" id="" placeholder="username"><br>
        <input type="password" name="password" id="" placeholder="password"><br>
        <input type="submit" name="" id="">
    </form>
    <a href="/" style="text-align: center; text-decoration: none;">do not hav an account ?</a>
   </div>
</body>
</html>